@model LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = @localizer["Display.LoginView"];
}




@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red;">
        @ViewData["mensaje"]
    </p>
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <h1 class="text-center">@localizer["Display.LoginView"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label" asp-for="Recuerdame"></label>
            </div>

            <div class="text-center m-2">

                <button class="btn-outline-success  m-2 btn">Iniciar sesión</button>
                <a class="btn btn-outline-primary  m-2" asp-action="registro">Crear una nueva cuenta</a>
                <a class="btn btn-outline-info  m-2" asp-action="LoginExterno" asp-route-proveedor="Microsoft">
                Continuar con Microsoft
                 </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
