@model RegistroViewModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Registro";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <h1 class="text-center">@localizer["Display.RegistroView"]</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" autocomplete="off" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="text-center m-2">
                <button class="btn btn-outline-success m-2">@localizer["btn Regístrate"]</button>
                <a class="btn btn-outline-primary m-2" asp-action="login">@localizer["btn login"]</a>

                <a class=" btn btn-outline-info m-2" asp-action="LoginExterno" asp-route-proveedor="Microsoft">
                    @localizer["btn microsoft"]
            </a>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
